# Core server
Flask==3.0.3
gunicorn==21.2.0
Flask-Cors
pyfcm

# Machine Learning
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

# Utilities
numpy==1.26.4
Pillow==10.3.0

# (Optional: if you use Pandas for preprocessing)
pandas==2.2.2